.fade-out {
  opacity: 0;
  transition: opacity;
  /*display: none;*/
}
/* App.css */
.svg-container {
}

.svg-container svg {
  transition: opacity 0.1s ease-in-out;
}

.hidden {
  opacity: 0;
}

html, body {
    overscroll-behavior: none; /* Prevents overscrolling on mobile devices */
}