@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flip card animation */
.flip-cross-clues-card {
  perspective: 1000px;
  background-color: transparent;
}

.flip-cross-clues-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-cross-clues-card.flipped .flip-cross-clues-card-inner {
  transform: rotateY(180deg);
}

.flip-cross-clues-card-front,
.flip-cross-clues-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-cross-clues-card-back {
  transform: rotateY(180deg);
}